::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(239, 239, 239);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bfbfbf;
}

::-webkit-scrollbar-corner {
    background: #bfbfbf;
}

:root {
    --text: #18191C;
    --text2: #61666D;
    --text3: #9499a0;
    --blue: #00AEEC;
    --blue2: #007fff;
    --blue3: #00a1d6;
    --bodyPadding: 150px;
    --rowCategoryCount: 10;
}


body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.disable {
    color: #c1c1c1 !important;
    pointer-events: none;
    opacity: 0.8;
}

.a-link {
    text-decoration: none;
}